downloads/
external_backends/
ffmpeg/
assets/audio/
runtimes/
weights/
release_private/
workspace/
.venv/
build/
dist/
*.pth
*.pt
*.ckpt
*.index
*.onnx
__pycache__/
*.py[cod]
.pytest_cache/
*.spec
*.egg-info/
